<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-web :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/moon/web/header :: header"></header>
<div th:replace="/moon/web/header-bottom :: header-bottom"></div>
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(web/img/images/15.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Đăng nhập</h2>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li> Đăng nhập </li>
            </ul>
        </div>
    </div>
</div>
<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form th:action="@{/login}" method="post">
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">Invalid username or
                                        password.
                                    </div>
                                </div>
                                <input type="text" name="username" placeholder="Số điện thoại">
                                <input type="password" name="password" placeholder="Mật khẩu">
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox">
                                        <label>Nhớ tài khoản</label>
                                        <a href="#">Quên mật khẩu?</a>
                                    </div>
                                    <button type="submit" class="default-btn floatright">Đăng nhập</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/moon/web/footer :: footer"></footer>
</body>
</html>